.card {
  margin-left: 25px;
  margin-bottom: 25px;
  transition: all 1s;
  flex-basis: calc(33.333% - 25px);
  background-color: var(--gray);
  border-radius: 5px;
}

.inner {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.left {
  margin-right: 25px;
  & img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
}

.right {}

.title {
  margin-bottom: 15px;
}

.text {}

.text + .text {
  margin-top: 15px;
}