.feedback {
  padding: 50px 0 150px;
}

.container {
  /*ширина контейнера чистая 1150px*/
  max-width: 1020px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: space-between;
}