.Login {
  background: rgba(44, 62, 80, 0.7);
  padding: 40px;
  width: 310px;
  margin: auto;
  margin-top: 80px;
  height: 400px;
}
form {
  text-align: center;
  height: 100%;
}
.Login__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.Login__inputs {
  margin-bottom: 40px;
}
button {
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
}
button[type="success"] {
  border: none;
  width: 190px;
  background: white;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
button[type="success"]:hover {
  color: #fff;
  background-color: black;
}
h2 {
  color: white;
}
.link {
  color: yellow;
  text-decoration: blink;
  transition: all 0.5s;
}
.link:hover {
  color: skyblue;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
::placeholder {
  color: aliceblue;
  opacity: 0.8;
}
.Login__footer_goToHome {
  margin-top: 20px;
  font-size: 12px;
}
.Login__footer_goToHome .link {
  color: #777;
  transition: all 0.5s;
}
.Login__footer_goToHome .link:hover {
  color: skyblue;
}